MQTT_HOST=YOUR_VM_PUBLIC_IP
MQTT_PORT=1883
MQTT_TOPIC=factory/assembly/boxes
MQTT_USERNAME=smartassembly
MQTT_PASSWORD=change-me
# Set to true and use port 8883 after you add TLS to Mosquitto.
MQTT_TLS_ENABLED=false
MQTT_KEEPALIVE=60
